<div class="container main-container">

  <div class="row">
    <div class="col-md-4">
      <h2>Login</h2>

      <form (ngSubmit)="guardar(forma)" #forma="ngForm">

        <div class="form-group">
          <label>Email</label>
          <input 
            [ngClass]="{'is-invalid': email.invalid && email.touched }"
            type="email" 
            class="form-control is-invalid" 
            placeholder="email@ejemplo.com"
            [(ngModel)]="user.email"
            name="email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            #email="ngModel">
          
          <div class="invalid-feedback" *ngIf="email.errors?.required">
            Este campo es requerido.
          </div>
          <div class="invalid-feedback" *ngIf="email.errors?.pattern">
            Debe ser un email válido.
          </div>
        </div>
        
        <div class="form-group">
          <label>Password</label>
          <input 
            [ngClass]="{'is-invalid': (password.errors?.minlength || password.errors?.required) && password.touched }" 
            type="password" 
            class="form-control" 
            placeholder="Password"
            [(ngModel)]="user.password"
            name="password"
            required
            minlength="5"
            #password="ngModel">

            <div class="invalid-feedback" 
              *ngIf="password.errors?.required">
              Este campo es requerido.
            </div>
            <div class="invalid-feedback" 
              *ngIf="password.errors?.minlength">
              Por lo menos {{ password.errors.minlength.requiredLength }} caracteres.
            </div>
        </div>

        <!-- <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2">
          <label class="form-check-label" for="dropdownCheck2">
            Remember me
          </label>
        </div> -->

        <button 
          type="submit" 
          class="btn btn-primary"
          [disabled]="!forma.valid">
          Entrar
        </button>

      </form>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-4">
      <h2>Register</h2>

      <form (ngSubmit)="guardar(forma)" #forma="ngForm">

        <div class="form-group">
          <label>Nombre</label>
          <input [ngClass]="{'is-invalid': (name.errors?.minlength || name.errors?.required) && name.touched }" 
            type="text"
            class="form-control" 
            placeholder="Nombre" 
            [(ngModel)]="user.name" 
            name="name" 
            required 
            minlength="2" 
            #name="ngModel">
    
          <div class="invalid-feedback" 
            *ngIf="name.errors?.required">
            Este campo es requerido.
          </div>
          <div class="invalid-feedback" 
            *ngIf="name.errors?.minlength">
            Por lo menos {{ name.errors.minlength.requiredLength }} caracteres.
          </div>
        </div>
    
        <div class="form-group">
            <label>Apellido</label>
            <input [ngClass]="{'is-invalid': (surname.errors?.minlength || surname.errors?.required) && surname.touched }" 
              type="text"
              class="form-control" 
              placeholder="Apellido" 
              [(ngModel)]="user.surname" 
              name="surname" 
              required 
              minlength="2" 
              #surname="ngModel">
      
            <div class="invalid-feedback" 
              *ngIf="surname.errors?.required">
              Este campo es requerido.
            </div>
            <div class="invalid-feedback" 
              *ngIf="surname.errors?.minlength">
              Por lo menos {{ surname.errors.minlength.requiredLength }} caracteres.
            </div>
          </div>
        
        <div class="form-group">
          <label>Email</label>
          <input [ngClass]="{'is-invalid': email.invalid && email.touched }" 
              type="email" 
              class="form-control is-invalid" 
              placeholder="email@ejemplo.com"
              [(ngModel)]="user.email" 
              name="email" 
              required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
              #email="ngModel">
    
          <div class="invalid-feedback" *ngIf="email.errors?.required">
            Este campo es requerido.
          </div>
          <div class="invalid-feedback" *ngIf="email.errors?.pattern">
            Debe ser un email válido.
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input [ngClass]="{'is-invalid': (password.errors?.minlength || password.errors?.required) && password.touched }" type="password"
            class="form-control" placeholder="Password" [(ngModel)]="user.password" name="password" required minlength="5" #password="ngModel">
    
          <div class="invalid-feedback" *ngIf="password.errors?.required">
            Este campo es requerido.
          </div>
          <div class="invalid-feedback" *ngIf="password.errors?.minlength">
            Por lo menos {{ password.errors.minlength.requiredLength }} caracteres.
          </div>
        </div>
    
        <!-- <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                        <label class="form-check-label" for="dropdownCheck2">
                          Remember me
                        </label>
                      </div> -->
    
        <button type="submit" 
        class="btn btn-primary" 
        [disabled]="!forma.valid">
          Registrarse
        </button>
    
      </form>
    </div>

  </div>



</div>
  

